.cardContainer{
    margin-bottom: 10px;
    padding-right: 8px;
}

.card__text-wrapp{
    margin: 4px auto;
    width: 100%;
    word-break: break-all;
}

.card__text{
    max-width: 100%;
}

.card__content{
    position: relative;
    cursor: pointer;
    &:hover{
        .card__icon{
            transition: all .4s;
            opacity: 1;
        }
    }
}

.card__icon{
    opacity: 0;
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}